<?xml version="1.0"?>
<launch>
  <arg name="gazebo_gui" default="true" doc="Start Gazebo GUI"/>
  <arg name="paused" default="true" doc="Start Gazebo paused"/>
  <arg name="world_name" default="worlds/empty.world" doc="Gazebo world file"/>
  <arg name="urdf_path" default="$(find ur5eRobotiq3f_moveit_config)/config/gazebo_ur5e_robot.urdf"/>
  <arg name="robot_spawn_position_z_axis" default="0.01"/>

  <!-- Start Gazebo paused to allow the controllers to pickup the initial pose -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(arg world_name)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
    <arg name="verbose" value="1"/>
  </include>

  <!-- Set the robot urdf on the parameter server -->
  <param name="robot_description" textfile="$(arg urdf_path)" />

  <!-- Spawn the robot in Gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -x 0 -y 0 -z 0 -J shoulder_pan_joint -1.5708 -J shoulder_lift_joint -1.5708 -J elbow_joint -1.5708 -J wrist_1_joint -1.5708 -J wrist_2_joint 1.5708 -J wrist_3_joint -0.7850 -J robotiq_palm_finger_1_joint 0 -J robotiq_palm_finger_2_joint 0 -J robotiq_finger_1_joint_1 0.0495 -J robotiq_finger_1_joint_2 0.0495 -J robotiq_finger_1_joint_3 -0.5847 -J robotiq_finger_2_joint_1 0.0495 -J robotiq_finger_2_joint_2 0.0495 -J robotiq_finger_2_joint_3 -0.5847 -J robotiq_finger_middle_joint_1 0.0495 -J robotiq_finger_middle_joint_2 0.0495 -J robotiq_finger_middle_joint_3 -0.5847 -unpause"       
    respawn="false" output="screen" />
    
  <include file="$(find ur5eRobotiq3f_moveit_config)/launch/ros_controllers.launch"/>
 
</launch>
